/*通用*/
.hide{
	display: none;
}
/*主体内容*/
.main{
	height: 495px;
	width: 100%;
	margin-bottom: 10px;
}
.mc_databox{
	width: 100%;
	height: 50%;
}
.ti_folder{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/file.svg");
	background-size: 16px 16px;
	background-position: 0 0;
}
.ti_file{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/folder.svg");
	background-size: 16px 16px;
	background-position: 0 0;
}
td[field] div{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/*元数据*/
/*统计*/
/*今日*/
.mcot_list{
	width: 100%;
	overflow: hidden;
	height: 50px;
	padding: 10px 0;
}
.mcotl_item{
	position: relative;
	display: block;
	float: left;
	width: 20%;
	height: 100%;
	border-right: 1px solid #CCC;
	margin-left: -1px;
}
.mcotl_item:last-child{
	border-right: none;
	margin-left: 0;
}
.mcotli_content{
	display: block;
	text-align: center;
	font-size: 22px;
	color: #0ebcee;
}
.mcotli_title{
	display: block;
	text-align: center;
	font-size: 16px;
}
/*浏览量*/
.mcob_area{
	height: 98%;
	width: 98%;
}
/*成交量*/
.mcob_fufure{
	width: 45%;
	height: 60%;
	float: left;
}
.mcob_cash{
	width: 45%;
	height: 60%;
	float: right;
}
.mcob_ul{
	height: 30%;
	width: 100%;
	clear: both;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
}
.mcob_list{
	list-style-type: disc;
	height: 30px;
}
.mcob_list:nth-of-type(1){
	color: #0FE4AA;
}
.mcob_list:nth-of-type(2){
	color: #60A9DD;
}
.mcob_list:nth-of-type(3){
	color: #CCC;
}
.mcob_list span{
	color:#414141;
}
/*库存量*/
.mcos_bar{
	height: 98%;
	width: 98%;
}

/*资源库tabs*/
.p_title{
	cursor: pointer;
}
.mco_fimana{
	width: 100%;
}
.mcb_list{
	width: 120px;
	height: 150px;
	float: left;
	/*background-color: green;*/
}
.mcb_list.active{
	background-color: #E0ECFF;
}
.mcbl_icon{
	display: block;
	width: 100px;
	height: 100px;
	margin: 10px auto;
	background-position: 0 0;
	background-size: 100px 100px;
	/*background-color: red;*/
}
.mcbl_file{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/wenjian.svg");
}
.mcbl_folder{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/wenjianjia.svg");
}
.mcbl_name{
	height: 20px;
	width: 100px;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin: 5px auto;
	/*background-color: yellow;*/
}

/*列表格*/
.yg_grid{
	width: 100%;
	text-indent: 5px;
}
.yg_grid tr{
	height: 25px;
}
.yg_grid th{
	/*border-collapse:collapse;*/
	border: 1px solid #CCC;
	background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #f9f9f9 0px, #efefef 100%) repeat-x scroll 0 0;
	width: 25%;
}
.yg_grid td{
	/*border-collapse:collapse;*/
	border: 1px dotted #CCC;
	width: 25%;
}
.yg_grid tr:first-of-type td{
	border-top: 1px solid #CCC;
}
.yg_grid tr:first-of-type td:last-of-type{
	border-right: 1px solid #CCC;
}
.yg_grid tr td:last-of-type{
	border-right: 1px solid #CCC;
}
.yg_grid tr:last-of-type td{
	border-bottom: 1px solid #CCC;
}
.yg_grid tr:last-of-type td:last-of-type{
	border-right: 1px solid #CCC;
}
.yg_grid tr:nth-of-type(even) td{
	background-color: #fafafa;
}