/*主体内容*/
.main{
	height: 495px;
	width: 100%;
	margin-bottom: 10px;
}
.ti_folder{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/file.svg");
	background-size: 16px 16px;
	background-position: 0 0;
}
.ti_file{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/folder.svg");
	background-size: 16px 16px;
	background-position: 0 0;
}
td[field] div{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/*组卷按钮*/
.groupfile{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.groupfile:hover{
	text-decoration: underline;
	color: red;
}
.groupicon{
	position: relative;
	padding: 0 20px 0 0;
	cursor: pointer;
}

/*组卷信息弹出窗*/
.fci_box{
	float: left;
	padding: 10px;
}
.fci_title{
	height: 26px;
	line-height: 26px;
	text-align: right;
	width: 90px;
	float: left;
}
.fci_title:nth-of-type(n+4){
	margin-top: 20px;
}
.fci_title:nth-of-type(3n+1){
	clear: both;
	margin-left: 0;
}
.fci_input{
	float: left;
	height: 26px;
	line-height: 26px;
	width: 150px;
}
.fci_input:nth-of-type(n+4){
	margin-top: 20px;
}
