/*主体内容*/
.main{
	height: 495px;
	width: 100%;
	margin-bottom: 10px;
}
.ti_folder{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/file.svg");
	background-size: 16px 16px;
	background-position: 0 0;
}
.ti_file{
	background-image: url("/work-0-cloudDataControlSystemDemo/images/common/folder.svg");
	background-size: 16px 16px;
	background-position: 0 0;
}

/*组卷按钮*/
.groupfile{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.groupfile:hover{
	text-decoration: underline;
	color: red;
}
.groupicon{
	position: relative;
	padding: 0 20px 0 0;
}